<div class="home-main" fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
  <div fxFlex.xs="95%" fxFlex.sm="90%" fxFlex.md="85%" fxFlex.gt-md="80%" fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%"  fxLayout="row" fxLayoutAlign="center">
      <svg width="220" height="190" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <g>
         <title>background</title>
         <rect fill="#fafafa" id="canvas_background" height="192" width="222" y="-1" x="-1"/>
         <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
          <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
         </g>
        </g>
        <g>
         <title>Layer 1</title>
         <line stroke="#666" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="161.644046" x2="34.931773" y1="50.685046" x1="34.931773" stroke-width="1.5" fill="none"/>
         <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_6" y2="161.644041" x2="184.931773" y1="161.644041" x1="34.931773" stroke-width="1.5" stroke="#666" fill="none"/>
         <line stroke="#666" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="161.644046" x2="184.931422" y1="50.685046" x1="184.931422" stroke-width="1.5" fill="none"/>
         <line stroke="#666" transform="rotate(60 57.51307678222658,36.492988586425774) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_10" y2="97.167373" x2="57.513079" y1="-24.181468" x1="57.513079" stroke-width="1.5" fill="none"/>
         <line stroke="#666" transform="rotate(-60 161.1182403564453,35.68499755859376) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_11" y2="94.780636" x2="161.118241" y1="-23.410714" x1="161.118241" stroke-width="1.5" fill="none"/>
         <text stroke="#666" transform="matrix(0.9967451506586531,0,0,1.0154101982594808,23.25722178306407,4.51954092728187) " xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_12" y="77.562994" x="52.980965" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#666000">BARE</text>
         <text stroke="#666" transform="matrix(0.8665685677844834,0,0,1,11.757056584296336,0) " xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_13" y="138.356297" x="40.433392" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#666000">ESSENTIALS</text>
        </g>
       </svg>
    </div>
    <div fxFlex class="titles">
      <h1>
        Welcome to BARE Essentials
      </h1>
      <h2>
        You're go to app for discovering housing opportunities in the Barrie and District area.
      </h2>
    </div>
    <div fxFlex class="content">
      <h4>Not only will we find you the perfect house for your needs, we will offer you new and unique financing options.</h4>
    </div>
    <div fxFlex class="continue">
      <h4>
        Interested? Click below to get started with your custom house selections!
      </h4>
    </div>
  </div>
  <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
</div>
<div fxLayout="row wrap">
  <div fxFlex></div>
  <div class="button">
    <button style="width: 150px" mat-raised-button color="accent" routerLink="/get-started">Take the Quiz</button>
  </div>
  <div fxFlex></div>
  <div fxFlex="100%" class="check-out">
    Or, you can check out what is available right now in Barrie.
  </div>
  <div fxFlex="1px"></div>
  <div fxFlex></div>
  <div class="button">
    <button style="width: 150px" mat-raised-button color="accent" routerLink="/view">What's Available</button>
  </div>
  <div fxFlex></div>
</div>