agm-map {
    height: 44vh;
    flex: 1 1;
}

.spacer {
    height: 1vh;
}

app-house-card {
    margin-bottom: 1vh;
}

.house-cards {
    height: calc(100vh - 44vh - 40px); /* Full height - map height - header height */
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

/* Medium screens */
@media all and (min-width: 960px) {
    agm-map {
        height: 96vh;
    }
    .house-cards {
        flex: 1 1;
        height: 96vh;
    }
}