<div fxLayout="row wrap" fxLayoutAlign="end" class="navbar" style="height: -webkit-fill-available;">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/get-started">Take the Quiz</button>
    <button mat-button routerLink="/view">View Houses</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact Us</button>
</div>

<!-- <nav mat-tab-nav-bar style="height: -webkit-fill-available;">
    <a mat-tab-link routerLink="/home" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Home</a>
    <a mat-tab-link routerLink="/get-started" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Take the Quiz</a>
    <a mat-tab-link routerLink="/view" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">View Houses</a>
    <a mat-tab-link routerLink="/about" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">About</a>
    <a mat-tab-link routerLink="/contact" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Contact Us</a>
</nav> -->