.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1;
    height: inherit;
}

@media all and (max-width: 960px) {
    .large-outlet {
        display: none;
    }
}