.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1;
    height: inherit;
}

header {
    height: 4vh;
}

@media all and (max-width: 960px) {
    .large-outlet {
        display: none;
    }
}

/* .spacer {
    height: 100px;
} */