<div class="about-main" fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
    <div fxFlex.xs="95%" fxFlex.sm="90%" fxFlex.md="85%" fxFlex.gt-md="80%" fxLayout="column" fxLayoutAlign="center">
      <div fxFlex="100%"  fxLayout="row" fxLayoutAlign="center">
        <app-logo></app-logo>
      </div>
      <div *ngIf="!submitted" fxFlex class="titles">
        <h1>
          Take our quick quiz to get started
        </h1>
      </div>
    </div>
    <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
    <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
    <div fxFlex.xs="95%" fxFlex.sm="90%" fxFlex.md="85%" fxFlex.gt-md="80%" fxLayout="row" fxLayoutAlign="center" class="content">
      <div fxFlex></div>
      <form *ngIf="!submitted" (ngSubmit)="submit()" fxFlex fxLayout="column" fxLayoutAlign="center" #startForm="ngForm">
        <mat-form-field>
          <input matInput [(ngModel)]="householdIncome" type="number" placeholder="Household Income" name="income" required>
        </mat-form-field>
        <p class="label">Are you willing to rent a room of your house or host an Airbnb room?</p>
        <mat-radio-group [(ngModel)]="willRent" name="rent" required>
          <mat-radio-button disableRipple [value]="true">
            Yes
          </mat-radio-button>
          <mat-radio-button disableRipple [value]="false">
            No
          </mat-radio-button>
        </mat-radio-group>
        <a class="link" (click)="openRentInfo()">What is this?</a>
        <br >
        <br >
        <p class="label">Would you like to have solar panels installed on your house?</p>
        <mat-radio-group [(ngModel)]="willSmartGrid" name="smartGrid" required>
          <mat-radio-button disableRipple [value]="true">
            Yes
          </mat-radio-button>
          <mat-radio-button disableRipple [value]="false">
            No
          </mat-radio-button>
        </mat-radio-group>
        <a class="link" (click)="openSolarInfo()">What is this?</a>
        <br />
        <br />
        <div fxFlex="grow"></div>
        <div class="buttons">
          <button mat-raised-button color="accent" type="submit" [disabled]="!startForm.form.valid"> Continue </button>
        </div>
        <br />
        <br />
      </form>
      <div fxFlex></div>
    </div>
    <div fxFlex.xs="2.5%" fxFlex.sm="5%" fxFlex.md="7.5%" fxFlex.gt-md="10%"></div>
    <app-start *ngIf="submitted" [income]="householdIncome" [willRent]="willRent" [solarPanels]="willSmartGrid" (goBack)="back()"></app-start>
</div>